@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        position: fixed;

        display: grid;
        grid-template-columns: 1fr 1fr;

        width: 60%;
    }


}

