@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: #1b0101;
}

main {
    position: relative;

    height: 500px;
    width: 310px;
    padding: 25px;

    border-radius: 10px;
    background: linear-gradient(90deg, #db3b36, #780400);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    width: 100%;
    height: 30%;

    color: #fff;
    background: transparent;
}

.hero h1 {
    font-size: 1.9em;
    margin: 0;
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: calc(100% - 30%);

    border-radius: 40px 40px 5px 5px;
    color: #000;
    background: #dad8d8;
}

.input-box {
    position: relative;
    margin: 10px;
    padding: 2px 2px 2px 34px;
    border-radius: 40px;
    background: #a80a05;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 10px;

    font-size: 1.1em;
    color: #fff;
}

.input-box input {
    padding: 7px;
    width: 230px;

    border: none;
    outline: none;
    border-radius: 40px;
}

.login-btn button {
    position: relative;
    cursor: pointer;
    padding: 9px;
    width: 280px;
    margin: 0 0 10px 0;

    border: none;
    outline: none;
    border-radius: 40px;

    font-size: 1.2em;
    font-weight: 500;

    z-index: 1;
    color: #fff;

    transition: 0.2s ease;
}

.login-btn button::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 40px;
    z-index: -1;
    background: linear-gradient(90deg, #d42f29, #780400);
}

.login-btn button:active {
    transform: scale(.9);
    color: #f3605b;
}

.remenber-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-size: .9em;
}

.remenber-forgot div {
    padding: 5px 20px 0 20px;
}

.remenber-forgot a {
    text-decoration: none;
    color: #000;
}

.remenber-forgot a:hover {
    text-decoration: underline;
}

.desc p {
    margin-block: 30px 20px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.social-links a {
    width: 50px;
    height: 50px;

    text-align: center;
    line-height: 55px;
    font-size: 1.5em;

    border-radius: 10px;
    border: 1px solid #000;
    color: #a80a05;

    transition: 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.1);
}

.social-links a:active {
    color: #f3605b;
}