@charset "UTF-8";

@media screen and (max-width: 890px) and (min-width: 480px) {
    header, 
    .logo, 
    .nav-list, 
    .head-button button{
        font-size: .9em;
        flex-wrap: nowrap;
    }
    
    .nav-list {
        margin: 0;
    }

    .title {
        font-size: 2.7em;
        width: 100%;
    }

    .image {
        display: none;
    }  

    .desc {
        font-size: 1.1em;
    }

    .start-button button {
        background: #1a8917;
    }
    
    .start-button button:hover {
        background: #146411;
    } 

    footer {
        padding: 20px;
        height: 4.2vh;
        background: #000;
    }

    .links {
        display: none;
    }

    .mobile-links {
        display: block;
        align-self: center;
    }

    .mobile-links a {
        padding: 10px;
    }
}

@media screen and (max-width: 716px) and (min-width: 480px){
    .nav-list {
        display: none;
    }

    .hero {
        height: 100vh;
    }
}