@charset "UTF-8";

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 768px){
    #hero-title {
        margin-block-end: 30px;
        font-size: 1.05em;
    }
    
    #hero .input-box p {
        font-size: 1em;
        font-weight: 400;
    }

    #hero .input-form {
        flex-direction: row;
        margin-block-end: 20px;
    }

    #hero .input-form button {
        width: 50%;
    }

    #sign-up-end .input-box {
        display: flex;
        flex-direction: column

    }

    #sign-up-end .input-box input, button {
        width: 60%;
        align-self: center;
    }
}

/* Desktop*/