@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #000000;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#mobile-menu-icon button {
    font-size: 2em;
    color: #fff;

    border: none;
    outline: none;

    cursor: pointer;
    background: transparent;
}

#mobile-menu {
    display: none;
    position: fixed;
    right: 0;
    width: 200px;
    height: 315px;
    margin: 10px;
    z-index: 1000;

    border-radius: 10px;
    background: #1111116c;
    backdrop-filter: blur(10px);
}

#mobile-menu ul {
    position: absolute;
    top: 0;
    left: 15px;

    text-align: center;
    list-style: none;
}

#mobile-menu li {
    margin: 20px;
}

#mobile-menu a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
}

#mobile-menu button {
    width: 170px;
    padding: 10px;
    font-size: 1.1em;

    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 500;
    color: #fff;

    background: #4747ff;
}

main {
    background: #0000ff48;
    height: auto;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    width: 80%;
    height: 400px;
    padding: 20px 15px;
    margin: auto;

    text-align: center;
    border-radius: 0 0 10px 10px;
    
    color: #fff;
    background: #000000b4;
}

#hero-title {
    margin-block-end: 20px;
}

#hero .input-box {
    margin-block-start: 10px;
}

#hero .input-box p {
    padding: 10px;
    font-size: .9em;
}

#hero .input-form {
    display: flex;
    flex-direction: column;
}

#hero input {
    padding: 12px;
    margin: 5px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 1em;
}

#hero button {
    cursor: pointer;
    padding: 12px;
    margin: 5px;

    border-radius: 40px;
    border: none;
    outline: none;

    font-size: 1em;
    font-weight: 500;
    color: #fff;
}

#promo {
    width: 80%;
    padding: 15px;
    margin: auto;
    margin-block: 20px;

    border-radius: 10px;
    border: 1px solid #000000;
    transition: 0.4s ease-in-out;
}

#promo h2 {
    font-size: 1.1em;
    margin-block-end: 10px;
}

#promo button {
    width: 120px;
    padding: 10px;
    margin-block-start: 15px;

    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 500;
    color: #fff;
}

#promo:hover {
    transform: scale(1.04);
}

#trending h2 {
    text-align: center;
    margin-block: 20px;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    max-height: 250px;
}

.scroll-container::-webkit-scrollbar {
    width: 0;
}

.scroll-container .item {
    min-width: 110px;
    height: 200px;
    margin: 10px;

    text-align: center;
    line-height: 200px;

    border-radius: 10px;
    background: #0000006b;
    transition: .3s ease-in-out;
}

.scroll-container .item:hover {
    transform: scale(1.04);
}